;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; PlaneShift Configuration ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;

System.ApplicationID = NPCClient

;;;;;;;;;;;
; Plugins ;
;;;;;;;;;;;

; Core plugins
System.Plugins.iVFS = crystalspace.kernel.vfs
System.Plugins.iEngine = crystalspace.engine.3d
System.Plugins.iGraphics3D = crystalspace.graphics3d.null

; Important plugins
System.Plugins.iImageIO = crystalspace.graphic.image.io.multiplexer
System.Plugins.iLoader = crystalspace.level.loader

; Document parser
System.Plugins.iDocumentSystem = crystalspace.documentsystem.multiplexer
System.Plugins.iDocumentSystem.1 = crystalspace.documentsystem.tinyxml
System.Plugins.iDocumentSystem.2 = crystalspace.documentsystem.binary

; Additional plugins
;System.Plugins.iPerfstat = crystalspace.utilities.perfstat
System.Plugins.iCollideSystem = crystalspace.collisiondetection.opcode
System.Plugins.iFontServer = crystalspace.font.server.default

; PlaneShift plugins
System.Plugins.iConnection = planeshift.database.mysql
;System.Plugins.iConnection = planeshift.database.dummy

;;;;;;;;;;;;;;;;;
; Configuration ;
;;;;;;;;;;;;;;;;;

VFS.Config = vfs.cfg
Video.Null.Canvas=crystalspace.graphics2d.null
System.Win32.DebugConsole = yes

Planeshift.NPCClient.Status.Report = 1
Planeshift.NPCClient.Status.Rate = 1000
Planeshift.NPCClient.Status.LogFile = /this/report_npc.xml

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; PlaneShift-Specific Items ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; PlaneShift plugins
System.Plugins.iDataConnection = planeshift.database.mysql

Planeshift.Mount.zipmapdir = /this/art/world/
Planeshift.Mount.characterszip = /this/art/characters.zip
Planeshift.Mount.npcszip = /this/art/npcs.zip
Planeshift.Mount.weaponzip = /this/art/things/weapons.zip
Planeshift.Mount.itemzip = /this/art/things/items.zip
Planeshift.Mount.azurezip = /this/art/things/azure_way.zip
Planeshift.Mount.bluezip = /this/art/things/blue_way.zip
Planeshift.Mount.brownzip = /this/art/things/brown_way.zip
Planeshift.Mount.crystalzip = /this/art/things/crystal_way.zip
Planeshift.Mount.darkzip = /this/art/things/dark_way.zip
Planeshift.Mount.redzip = /this/art/things/red_way.zip
Planeshift.Mount.potionszip = /this/art/things/potions.zip
Planeshift.Mount.moneyzip = /this/art/things/money.zip
Planeshift.Mount.bookszip = /this/art/things/books.zip
Planeshift.Mount.shieldszip = /this/art/things/shields.zip
Planeshift.Mount.toolszip = /this/art/things/tools.zip
Planeshift.Mount.naturalreszip = /this/art/things/naturalres.zip
Planeshift.Mount.foodzip = /this/art/things/food.zip
Planeshift.Mount.helmszip = /this/art/things/helms.zip
Planeshift.Mount.jewelryzip = /this/art/things/jewelry.zip
Planeshift.Mount.furniturezip = /this/art/things/furniture.zip

Planeshift.NPCClient.host = localhost
Planeshift.NPCClient.userid = superclient
Planeshift.NPCClient.password = superclient
Planeshift.NPCClient.port = 13331

Planeshift.Database.npchost = localhost
Planeshift.Database.npcuserid = planeshift
Planeshift.Database.npcpassword = planeshift
Planeshift.Database.npcname = planeshift
